aside {
    flex: 25%;
    padding: 5px;
    background-color: #ffffff;
}

aside h2 {
    margin-top: 30px;
    padding-top: 30px;
    text-transform: uppercase;
}

aside article {
    margin-bottom: 60px;
    padding-bottom: 30px;
    border-bottom: 1px solid #d3d3d3;
}

aside img {
    border-radius: 9px;
    display: block;
    margin: auto;
}

aside a {
    text-decoration: none;
    color: black;
    font-size: 21px;
    font-weight: 600;
}