.fila {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
}

.seccion1 {
    flex: 75%;
    background-color: #ffffff;
    padding: 20px;
}

.titulo {
    font-family: "DM Serif Display", Georgia, serif;
    margin-top: 10px;
    font-size: 40px;
}

.bajo-img {
    font-size: 22px;
    font-family: "Mada", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    font-weight: 600;
    padding-bottom: 14px;
}

article p {
    font-size: 18px;
}

.contacto div {
    display: flex;
    justify-content: center;
    background-color: #c1c7c7;
    cursor: pointer;
}


@media screen and (max-width: 480px) {
    .fila {
        flex-direction: column;
    }
}