.check-hamburguesa {
    display: none;
}

.lbl-hamburguesa {
    display: none;
}

.estiloNav {
    background-color: #ffffff;
    border-bottom: 1px solid #d3d3d3;
    padding: 6px 14px;
    font-size: 13px;
    color: #151515;
    width: 100%;
    height: auto;
    overflow: hidden;
    text-align: center;
}

.estiloNav ul {
    display: inline-block;
    margin: 0;
    padding: 0;
    list-style: none;
}

.estiloNav li {
    display: inline-block;
    margin-right: 40px;
}

.estiloNav a {
    text-decoration: none;
    color: #151515;
    padding: 4px 6px;
}

header {
    background-color: #000000;
}

.centrarImg {
    display: block;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.titulo {
    display: block;
    padding-top: 20px;
    font-weight: bold;
    font-family: sans-serif;
    padding-left: 14px;
    padding-right: 14px;
    font-size: 2em;
}

.seccion1 {
    width: 100%;
    display: block;
}

.divImg {
    width: 100%;
    height: auto;
    display: block;
}

.divImg img {
    width: 100%;
    height: auto;
    display: block;
}

.bajoImg {
    font-family: "Mada", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    font-size: 19px;
    font-weight: 600;
}

p {
    display: block;
    font-family: "Mada", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    color: #151515;
}

div h2 {
    margin-top: 35px;
    margin-bottom: 20px;
    letter-spacing: -0.25px;
    font-family: "Mada", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

.caracteristicas h3,
.caracteristicas li {
    font-family: "Mada", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

.contacto {
    background-color: #c2c2c2;
    font-family: "Mada", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    font-weight: 600;
}

footer {
    background-color: #dad4d4;
    color: #eeeeee;
    padding: 20px;
    font-family: Arial, sans-serif;
    font-size: 14px;
    text-align: center;
}


@media screen and (max-width: 480px) {

    nav.estiloNav ul {
        display: none;
    }

    .lbl-hamburguesa {
        display: inline-block;
    }

    .check-hamburguesa:checked+.lbl-hamburguesa+nav.estiloNav ul {
        display: block;
        background-color: #ffffff;
        padding: 10px;
    }
}